<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="com.frameworkstructure.myproject.utility.CustomListener"/>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>
    <test name="MyTests">
        <classes>

            <class name="com.frameworkstructure.myproject.tests.SeleniumTest"/>

        </classes>
    </test>
</suite>
